.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  text-align: center;
  background-color: #ffffff;
  width: 73px;
  height: 24px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  font-family: "CabinetGrotesk-Bold";
  font-size: 16px;
  line-height: 20px;
}

.card__image {
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .card {
    max-width: 164px;
    max-height: 164px;
  }
}
