.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__toggle {
  margin-left: auto;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 11px auto 5px 0;
}

.header__user-container {
  display: flex;
  align-items: center;

  margin: 8px 0 7px 0;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__add-clothes-button {
  margin: 0 20px 0;
  border: none;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0 20px;
  }
}
