.modal__content_type_image {
  max-width: 498px;
  height: 610px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.modal__image {
  max-width: 498px;
  height: 498px;
  width: 100%;
  display: block;

  padding: 0;
  margin: 0;
}
.modal__footer {
  font-family: "CabinetGrotesk-Bold";
  padding: 32px;
  margin: 0;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__weather {
  margin: 12px 0 0;
}
